{% extends "layouts/base.html" %}

{% block title %}Accounts{% endblock %}

{% block content %}
<article>
  <header class="no-margin">
    <h1>Accounts</h1>
    <p>
      Accounts are created automatically when you import transactions.
    </p>
  </header>

  <section>
    <h2>All accounts</h2>
    {% if accounts.is_empty() %}
    <p>No accounts exists.</p>
    {% else %}
    <figure>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Friendly name</th>
            <th>Owner</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts %}
          <tr>
            <td class="nowrap"><a href="/accounts/{{ account.id }}">{{ account.name }}</a></td>
            <td>{{ account.friendly }}</td>
            <td>{% if account.owner_name.is_empty() %}{{ account.owner_email }}{% else %}{{ account.owner_name }}{%
              endif %}</td>
            <td>{{ account.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </figure>
    {% endif %}
  </section>
</article>
{% endblock %}
