<dialog id="dialog" open data-swap="morph:#dialog">
  <article>
    <header>
      <h2>{% if is_editing %}Edit import rule{% else %}Add import rule{% endif %}</h2>
    </header>

    <form id="import_rule_form" method="post" action="/import_rules/{{ form.id }}" data-history="none">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      <input type="hidden" name="id" value="{{ form.id }}">
      <label>
        Category
        <select name="category_id">
          <option value="">None</option>
          {% for category in categories %}
          <option value="{{ category.id }}" {% if category.id==form.category_id.unwrap_or_default() %}selected{% endif
            %}>
            {{ category.name }}
          </option>
          {% endfor %}
        </select>
      </label>
      <label>
        Priority
        <select name="priority">
          {% for value in 1..=10 %}
          <option value="{{ value * 10 }}" {% if form.priority==value * 10 %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
        <small>Rules with lowest numbers are applied first.</small>
      </label>
      <label>
        Match expression
        <input type="text" name="match_description" minlength="3" maxlength="64" required
          value="{{ form.match_description | assigned_or("") }}" placeholder="e.g. Food, Travel, Utilities">
        <small>Matches when the imported description contains this text. Matching is
          case-insensitive.</small>
      </label>
    </form>
    <footer>
      <button type="submit" form="import_rule_form">{% if is_editing %}Save rule{% else %}Add import rule{% endif
        %}</button>
      {% if is_editing %}
      <button type="submit" class="danger" form="import_rule_form" formaction="/import_rules/{{ form.id }}/delete"
        formmethod="post" formnovalidate>Delete rule</button>
      {% endif %}
      <button type="button" class="secondary" on:load on:click="el.closest('dialog').close()">Cancel</button>
    </footer>
  </article>
</dialog>
