{% extends "layouts/base.html" %}

{% block title %}ImportRules{% endblock %}

{% block content %}
<article>
  <header class="no-margin">
    <a href="/import_rules/0" data-history="none" role="button" style="float:right">Add import rule</a>
    <h1>Import Rules</h1>
  </header>

  <section>
    {% if import_rules.is_empty() %}
    <p>No import rules exists.</p>
    {% else %}
    <figure>
      <table>
        <thead>
          <tr>
            <th class="narrow">Category</th>
            <th class="narrow">Priority</th>
            <th>Match expression</th>
            <th class="narrow">Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for import_rule in import_rules %}
          <tr>
            <td class="narrow"><a href="/import_rules/{{ import_rule.id }}">{{ import_rule.category_name }}</a></td>
            <td>{{ import_rule.priority / 10 }}</td>
            <td>{{ import_rule.match_description | assigned_or("") }}</td>
            <td class="narrow"><a href="/import_rules/{{ import_rule.id }}" data-history="none">Edit</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </figure>
    {% endif %}
  </section>
</article>
{% endblock %}
