{% extends "layouts/base.html" %}
{% block content %}
  <main class="container-fluid">
    <h1 hidden>Transactions</h1>

    <article>
      <div class="grid">
        <div>
          <h6>My income</h6>
          <p style="color: green; font-size: 1.5em;">{{ summary.total_income|format_amount }}</p>
          <h6>Filtered Income</h6>
          <p style="color: green; font-size: 1.2em;">{{ filtered_summary.total_income|format_amount }}</p>
        </div>
        <div>
          <h6>My expenses</h6>
          <p style="color: red; font-size: 1.5em;">{{ summary.total_expenses|format_amount }}</p>
          <h6>Filtered Expenses</h6>
          <p style="color: red; font-size: 1.2em;">{{ filtered_summary.total_expenses|format_amount }}</p>
        </div>
        <div>
          <h6>My Balance</h6>
          <p style="font-size: 1.5em; {% if summary.balance >= 0.0 %}color: green;{% else %}color: red;{% endif %}">{{ summary.balance|format_amount }}</p>
          <b>Filtered Balance</b>
          <p style="font-size: 1.2em; {% if filtered_summary.balance >= 0.0 %}color: green;{% else %}color: red;{% endif %}">{{ filtered_summary.balance|format_amount }}</p>
        </div>
      </div>
    </article>

    <form method="get" action="/dashboard" id="form_filter">
      <input type="hidden" name="per_page" value="{{ query.per_page }}">
    </form>

    <table>
      <thead>
        <tr>
          <th style="min-width:9rem">Date</th>
          <th style="width:80%">Description</th>
          <th style="min-width:8rem">Account</th>
          <th style="min-width:8rem">Category</th>
          <th style="min-width:7rem;text-align:right">Amount</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>
            <input form="form_filter" type="month" name="month" placeholder="YYYY-MM" value="{{ query.month }}" data-init on:change="el.form.requestSubmit()">
          </th>
          <th>
            <input form="form_filter" type="text" name="search" placeholder="Search..." value="{{ query.search }}" data-init on:keypress="@debounce(el.form.requestSubmit(), 350)">
          </th>
          <th>
            <select form="form_filter" name="account_id" data-init on:change="el.form.requestSubmit()">
              <option value="0">All</option>
              {% for account in accounts %}
                <option value="{{ account.id }}" {% if query.account_id == account.id %}selected{% endif %}>{{ account.name }}</option>
              {% endfor %}
            </select>
          </th>
          <th>
            <select form="form_filter" name="category_id" data-init on:change="el.form.requestSubmit()">
              <option value="0" {% if query.category_id == 0 %}selected{% endif %}>All</option>
              <option value="-1" {% if query.category_id == -1 %}selected{% endif %}>None</option>
              {% for category in categories %}
                <option value="{{ category.id }}" {% if query.category_id == category.id %}selected{% endif %}>{{ category.name }}</option>
              {% endfor %}
            </select>
          </th>
          <th style="text-align:right">
            <select form="form_filter" name="transaction_type" data-init on:change="el.form.requestSubmit()">
              <option value="" {% if query.transaction_type == "" %}selected{% endif %}>All</option>
              <option value="income" {% if query.transaction_type == "income" %}selected{% endif %}>Income</option>
              <option value="expense" {% if query.transaction_type == "expense" %}selected{% endif %}>Expense</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
        <tr>
          <td class="nowrap">{{ transaction.transaction_date }}</td>
          <td>{{ transaction.description }}</td>
          <td class="nowrap">
            {% match transaction.account_name %}
              {% when Some with (account_name) %}
                {{ account_name }}
              {% when None %}
                {% match transaction.account %}
                  {% when Some with (account) %}
                    {{ account }}
                  {% when None %}
                    <em>-</em>
                {% endmatch %}
            {% endmatch %}
          </td>
          <td class="nowrap">
            {% match transaction.category_name %}
              {% when Some with (name) %}
                {% match transaction.category_color %}
                  {% when Some with (color) %}
                    <!-- span style="display: inline-block; width: 12px; height: 12px; background-color: {{ color }}; border-radius: 50%; margin-right: 5px;"></span -->
                  {% when None %}
                {% endmatch %}
                {{ name }}
              {% when None %}
                <em>None</em>
            {% endmatch %}
          </td>
          <td style="text-align: right; {% if transaction.transaction_type == "income" %}color: green;{% else %}color: red;{% endif %}">
            {% if transaction.transaction_type == "income" %}+{% else %}-{% endif %}{{ transaction.amount|format_amount }}
          </td>
        </tr>
        {% else %}
          <tr><td colspan="5">No transactions found matching your filters.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
