<dialog id="dialog" open>
  <article>
    <header>
      <button form="dialog" aria-label="Close" rel="prev"></button>
      {% if transaction.id > 0 %}
        <h2>Add Transaction</h2>
      {% else %}
        <h2>Edit Transaction</h2>
      {% endif %}
    </header>

    <form id="transaction_form" action="/transactions" method="post">
      <input type="hidden" name="user_iud" value="{{ transaction.user_id }}">
      <fieldset class="grid">
        <label>
          Date
          <input type="date" name="processed_at" required>
        </label>
        <label>
          Type
          <select name="type" required>
            <option value="income">Income</option>
            <option value="expense" selected>Expense</option>
          </select>
        </label>
      </fieldset>
      <fieldset role="grid">
        <label>
          Amount
          <input type="number" name="amount" step="0.01" min="0" required placeholder="0.00">
        </label>
        <label>
          Original currency amount
          <input type="number" name="original_amount" step="0.01" min="0" placeholder="Same as amount">
        </label>
        <label>
          Currency
          <input type="text" name="original_currency" placeholder="Default currency">
        </label>
      </fieldset>
      <fieldset class="grid">
        <label>
          Category (optional)
          <select name="category_id">
            <option value="">No category</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </label>
        <label>
          Account (optional)
          <select name="account_id">
            <option value="">No account</option>
            {% for account in accounts %}
            <option value="{{ account.id }}">{{ account.name }}</option>
            {% endfor %}
          </select>
        </label>
      </fieldset>
      <label>
        Description
        <textarea name="description" required placeholder="Enter description"></textarea>
      </label>
    </form>

    <footer>
      <button form="dialog" class="secondary">Cancel</button>
      <button form="transaction_form">Add Transaction</button>
    </footer>
  </article>
</dialog>
