{% let height = 300.0 %}
{% let width = 900.0 %}
{% let top = 20.0 %}
{% let left = 80.0 %}
{% let bar_width = width / chart_data.by_day.len().max(1) as f64 %}
<section
    id="chart_container"
    style="position: relative"
    data-init="renderChart(el, store)"
    data-store="
      $height = {{ height }};
      $max = {income: 0, expense: 1};
      $top = {{ top }};
      $zeroLineRatio = 0;">
  <div>
    <svg id="chart" viewBox="0 0 {{ width + left + 0.0 }} {{ height + top + 20.0 }}"
      data-height="{{ height }}" data-width="{{ width }}" data-top="{{ top }}" data-left="{{ left }}" data-bar-width="{{ bar_width }}">
      <!-- Y-axis -->
      <line x1="{{ left }}" x2="{{ left }}" y1="{{ top }}" y2="{{ top + height }}" class="chart-line y-axis"/>

      <!-- Grid lines -->
      <line class="chart-line" x1="{{ left }}" x2="{{ left + width }}" y1="{{ top }}" y2="{{ top }}"/>
      <line class="chart-line" x1="{{ left }}" x2="{{ left + width }}"
        data-bind="y1:{{ top }}+{{ height * 0.5 }}*$zeroLineRatio, y2:{{ top }}+{{ height * 0.5 }}*$zeroLineRatio"/>
      <line class="chart-line" x1="{{ left }}" x2="{{ left + width }}"
        data-bind="y1:{{ top }}+{{ height }}*$zeroLineRatio, y2:{{ top }}+{{ height }}*$zeroLineRatio"/>
      <line class="chart-line" x1="{{ left }}" x2="{{ left + width }}"
        data-bind="y1:{{ top }}+{{ height }}*$zeroLineRatio+{{ height * 0.5 }}*(1-$zeroLineRatio), y2:{{ top }}+{{ height }}*$zeroLineRatio+{{ height * 0.5 }}*(1-$zeroLineRatio)"/>
      <line class="chart-line" x1="{{ left }}" x2="{{ left + width }}" y1="{{ top + height }}" y2="{{ top + height }}"/>

      <!-- Bars for each day {{ chart_data.by_day.len() }} -->
      {% for (i, date, day_stack) in chart_data.by_day|sorted_hashmap %}
        {% let bar_x = left + bar_width * i as f64 %}
        {% for day in day_stack %}
          <rect class="chart-bar"
            data-category="{{ day.group_name }}"
            data-date="{{ date }}"
            data-amount="{{ day.amount }}"
            data-type="{{ day.transaction_type }}"
            x="{{ bar_x }}"
            width="{{ bar_width }}"
            data-effect="renderChartBar(el, store, $max, $zeroLineRatio)"
            fill="{{ chart_data.color(day.group_name) }}"
            data-init
            on:mouseenter="showChartTooltip(el)"
            on:mouseleave="hideChartTooltip(el)"
            on:mousemove="positionChartTooltip(evt, el)">
          </rect>
        {% endfor %}
      {% endfor %}

      <!-- Y-axis labels -->
      <text class="y-axis-label" x="{{ left - 5.0 }}" y="{{ top }}"
        data-effect="setAmount(el, $max.income)"/>
      <text class="y-axis-label" x="{{ left - 5.0 }}"
        data-bind="y:{{ top }}+{{ height * 0.5 }}*$zeroLineRatio"
        data-effect="setAmount(el, $max.income * 0.5)"/>
      <text class="y-axis-label" x="{{ left - 5.0 }}"
        data-bind="y:{{ top }}+{{ height }}*$zeroLineRatio">0</text>
      <text class="y-axis-label" x="{{ left - 5.0 }}"
        data-bind="y:{{ top }}+{{ height }}*$zeroLineRatio+{{ height * 0.5 }}*(1-$zeroLineRatio)"
        data-effect="setAmount(el, $max.expense * 0.5)"/>
      <text class="y-axis-label" id="y-label-bottom" x="{{ left - 5.0 }}" y="{{ top + height }}"
        data-effect="setAmount(el, $max.expense)"/>

      <!-- X-axis labels -->
      {% for (i, date) in chart_data.x_labels() %}
        <text class="x-axis-label"
          x="{{ left + bar_width * i as f64 }}"
          y="{{ top + height + 5.0 }}">{{ date|fmtdate("%m-%d") }}</text>
      {% endfor %}
    </svg>
  </div>

  <!-- Legend -->
  <div id="chart_legend" class="flex-wrap">
    {% for (_, name, color) in chart_data.legends|sorted_hashmap %}
    <label data-init
      on:mouseenter="highlightTooltip(el, true)"
      on:mouseleave="highlightTooltip(el, false)">
      <input type="checkbox" name="data-category" value="{{ name }}" checked
        style="--pico-background-color: {{ color }}"
        data-init on:change="renderChart(el, store)">
      {{ name }}
    </label>
    {% endfor %}
  </div>

  <div id="chart_tooltip" hidden>
    <strong class="date"></strong>
    <span class="category"></span>
    <span class="amount"></span>
  </div>
</section>

<style nonce="{{ ctx.nonce }}">
  #chart {
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    display: block;

    @media (min-width: 1200px) {
      padding-right: 60px;
    }

    .chart-bar {
      opacity: 0.8;

      &.dimmed {
        opacity: 0.3;
      }
    }

    .chart-line {
      stroke: currentColor;
      stroke-width: 1px;
      stroke-opacity: var(--stroke-opacity, 0.3);

      &.y-axis {
        --stroke-opacity: 0.5;
      }
    }

    .x-axis-label,
    .y-axis-label {
      font-size: 0.8em;
      fill: currentColor;
      opacity: 0.8;
    }

    .x-axis-label {
      text-anchor: middle;
      dominant-baseline: hanging;
    }

    .y-axis-label {
      text-anchor: end;
      dominant-baseline: middle;
    }
  }

  #chart_legend {
    .legend-item.highlighted {
      background-color: oklch(20% 0.00 90 / 10%);
    }
  }

  #chart_tooltip {
    --transaction-type-opacity: 80%;
    background: var(--pico-tooltip-background-color);
    color: var(--pico-tooltip-color);
    font-size: .875rem;
    border: 1px solid var(--pico-border-color);
    border-radius: var(--pico-border-radius);
    padding: .25rem .5rem;
    white-space: nowrap;
    opacity: 0.85;
    z-index: 99;
    position: absolute;

    >* {
      display: block;
    }
  }
</style>

<script nonce="{{ ctx.nonce }}">
  const chartEl = () => document.getElementById('chart')
  const chartTooltipEl = () => document.getElementById('chart_tooltip')
  const setAmount = (el, n) => el.textContent = new Intl.NumberFormat(undefined, {maximumFractionDigits: 0}).format(n)

  function highlightTooltip(el, highlighted) {
    const $i = el.querySelector('input')
    if (!$i.checked) highlighted = false

    const $t = chartTooltipEl()
    $t.classList.toggle('highlighted', highlighted)

    for (const $bar of document.querySelectorAll('.chart-bar')) {
      const category = $bar.dataset.category
      $bar.classList.toggle('dimmed', highlighted && category != $i.value)
      $bar.classList.toggle('highlighted', highlighted && category == $i.value)
    }
  }

  function hideChartTooltip(el) {
    chartTooltipEl().setAttribute('hidden', 'hidden')
  }

  function positionChartTooltip(evt, el) {
    const $t = chartTooltipEl()
    const w = $t.offsetWidth
    const rect = document.getElementById('chart_container').getBoundingClientRect()
    const offset = evt.clientX > window.innerWidth - w - 100 ? -(w + 5) : 5
    $t.style.left = (evt.clientX - rect.left + offset) + 'px'
    $t.style.top = (evt.clientY - rect.top + 5) + 'px'
  }

  function renderChart($el, store) {
    const visibleSet = new Set(Array.from(document.querySelectorAll('#chart_legend input[type="checkbox"]:checked')).map(input => input.value))
    const $bars = document.querySelectorAll('.chart-bar')
    const max = {income: 0, expense: 0}

    for (const $bar of $bars) {
      const amount = parseFloat($bar.dataset.amount)
      const isVisible = visibleSet.has($bar.dataset.category)
      $bar.style.display = isVisible ? 'initial' : 'none'
      if (!isVisible || amount === 0) continue
      const type = $bar.dataset.type
      max[type] = Math.max(max[type] ?? 0, amount)
    }

    store.max = max
    store.zeroLineRatio = max.income / Math.max(max.income + max.expense, 0.1)
  }

  function renderChartBar($bar, store, max, r) {
    if ($bar.style.display == 'none') return

    const h = store.height
    const type = $bar.dataset.type
    const gridHeight = type == 'income' ? h * r : h * (1 - r);
    const barHeight = parseFloat($bar.dataset.amount) / Math.max(max[type], 1) * gridHeight
    $bar.setAttribute('height', Math.max(barHeight, 2))
    $bar.setAttribute('y', store.top + (type == 'income' ? r * h - barHeight : r * h))
  }

  function showChartTooltip(el) {
    const $t = chartTooltipEl()
    const amount = parseFloat(el.dataset.amount)
    $t.querySelector('.date').textContent = el.dataset.date
    $t.querySelector('.category').textContent = el.dataset.category
    $t.querySelector('.amount').textContent = new Intl.NumberFormat(undefined, {maximumFractionDigits: 0}).format(amount)
    $t.style.background = el.getAttribute('fill')
    $t.removeAttribute('hidden')
  }
</script>
