<div id="stats_summary" class="grid" style="margin-bottom:2rem">
  <div class="stat-card">
    <p class="stat-label">My Income</p>
    <p class="stat-value income">{{ summary.total_income|format_amount }}</p>
    <p class="stat-label">Filtered</p>
    <p class="stat-value income" style="font-size: 1.5rem;">{{ filtered_summary.total_income|format_amount }}</p>
  </div>
  <div class="stat-card">
    <p class="stat-label">My Expenses</p>
    <p class="stat-value expense">{{ summary.total_expenses|format_amount }}</p>
    <p class="stat-label">Filtered</p>
    <p class="stat-value expense" style="font-size: 1.5rem;">{{ filtered_summary.total_expenses|format_amount }}</p>
  </div>
  <div class="stat-card">
    <p class="stat-label">My Balance</p>
    <p class="stat-value {% if summary.balance >= 0.0 %}income{% else %}expense{% endif %}">{{ summary.balance|format_amount }}</p>
    <p class="stat-label">Filtered</p>
    <p class="stat-value {% if filtered_summary.balance >= 0.0 %}income{% else %}expense{% endif %}" style="font-size: 1.5rem;">{{ filtered_summary.balance|format_amount }}</p>
  </div>
</div>
